.main-container-current {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 550px;
  color: white;
  margin-bottom: 2rem;
}

.temp {
  /* margin-top: 0; */
  /* background-color: orange; */
  /* position: relative;
  top: 15px; */
  font-size: 7rem !important;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
}

.location-large {
  margin-bottom: 0;
  font-size: 3rem;
  margin-top: 0.5rem;
}

.location-small {
  margin-bottom: 0;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-bottom: 0; */
  width: 100%;
  margin-bottom: -1rem;
  margin-top: -1rem;
}

.units-supercontainer {
  margin-top: 1.5rem;
}

.units-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.unit {
  /* text-align: left; */
  position: relative;
  /* right: 100px; */
  z-index: 4;
  /* background-color: orange; */
  width: 2rem;
  height: 2rem;
}

.unit p {
  z-index: 6;
  position: relative;
  bottom: 1.75rem;
}
.bottom {
  margin-top: 0;
  /* position: relative;
  bottom: 4rem; */
  margin-bottom: 0;
}

.icons {
  /* margin-top: 0; */
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 0; */
}

.description {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 2rem;
}

.timestamp {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  font-weight: 600;
}

.icon-element {
  /* margin-top: 0;
  margin-bottom: 0; */
}

#top-icons {
  /* position: relative;
  left: 1.5rem; */
}

#wind {
  /* position: relative;
  right: 3rem; */
}

#visibility {
  /* position: relative;
  right: 5rem; */
}

#humidity {
  /* position: relative;
  right: 1rem; */
}

#dew {
  /* position: relative;
  right: 2rem; */
}

.bottom-icons {
  padding: 25px;
  /* background: cyan; */
  margin-top: 0;
}

.background {
  /* width: 2rem;
  height: 2rem;
  position: relative;
  right: 4rem;
  bottom: 6.5rem; */
  z-index: -1;
  /* background: green;  */
}

.inactive:hover {
  cursor: pointer;
  border: 1px solid white;
  box-sizing: border-box;
}

.active {
  /* position: relative; */
  font-weight: 700;
}

.inactive {
  /* position: relative;
  bottom: 25px; */
  font-weight: 400;
  color: #d3d3d3;
}

#F:hover .background {
  /* background: green; */
}

.main-image {
  /* width: 40%; */
}

.weather-icon {
  /* position: relative;
  left: 5rem;
  object-fit: cover;
  background-size: cover; */
  /* width: 250px; */
  margin-top: 1.5rem;
  position: relative;
  left: 1rem;
}
