.main-container-dailyDetails {
  margin-top: 0;
  /* background: purple; */
  position: relative;
  bottom: 6rem;
  text-align: left;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 1.5rem;
  left: 1.5rem;
}

.column-1 {
  flex: 33%;
}

.column2-2 {
  flex: 66%;
}

.line {
  width: 80%;
  margin-right: 10px;
}

.line-2 {
  width: 160%;
}

.title {
  margin-bottom: 0;
}

.time-container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 1.5rem;
  left: 1rem;
}

.time {
  display: flex;
}

.icon {
  width: 45%;
  color: white;
}

.progressbar-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  /* background: red; */
  position: relative;
  left: 4rem;
  bottom: 0.5rem;
}

.time-subcontainer {
  display: flex;
  flex-direction: row;
}

.progressbar {
  /* width: 2rem; */
}

.progressbar-subcontainer {
  width: 30%;
  margin-right: 3rem;
}

.uv {
  width: 200%;
}

.progressbar-outside {
  width: 6rem;
  position: relative;
  bottom: 9rem;
  left: 19rem;
}

.sub {
  width: 4.5rem;
}
