.day-element:hover {
  background: rgba(0, 0, 0, 0.1);
}

.day-element:first-child {
  margin-right: 5px;
}

.day-element:not(:first-child, :last-child) {
  margin-left: 15px;
  margin-right: 15px;
}

.day-element {
  height: 10rem;
  position: relative;
  left: 1rem;
}

.temps {
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  left: 0px;
  bottom: 5px;
}

.weather {
  margin-top: 0;
}

.daily-icon {
  margin-bottom: 0;
  margin-top: 0;
}

.date {
  margin-bottom: 0;
  position: relative;
  bottom: 10px;
  left: 10px;
}

#daily-picture {
  position: relative;
  right: 12px;
  bottom: 25px;
}

.temp-max {
  font-weight: 700;
  font-size: 1.5rem;
  position: relative;
  bottom: 15px;
}

.temp-min {
  font-size: 1.25rem;
  position: relative;
  bottom: 15px;
}

#day-weather {
  position: relative;
  bottom: 90px;
  left: 20px;
}
