.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-top: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}

h2 {
  color: white;
  opacity: 1 !important;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.searchbar {
  margin-bottom: 1.5rem;
}

.search-icon {
  padding: 5px;
  height: 34px !important;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  position: relative;
  right: 32px;
  bottom: 17px;
}

.search-icon:hover {
  background: blue;
  cursor: pointer;
}
