.main-container-hourly {
  color: white;

  width: 140%;
  min-width: 400px;
}

.rec.rec-dot {
}

.rec.rec-arrow {
  background-color: transparent;
  font-size: 1rem;
}

/* .rec.rec-arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
} */

.title-hourly {
  font-size: 2rem;
  position: relative;
  left: 10rem;
}
