.hourly-temp {
  position: relative;
  bottom: 35px;
  left: 30px;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

#hourly-weather {
  position: relative;
  bottom: 105px;
  left: 30px;
}

.hour-element:hover {
  background: rgba(0, 0, 0, 0.1);
}

#hourly-icon {
  position: relative;
  bottom: 36px;
}

.hour-element {
  height: 10rem;
}

#tempmax {
  position: relative;
  bottom: 75px;
}

.temp {
  font-weight: 700;
  font-size: 1.5rem;
}

.hour {
  position: relative;
  bottom: 10px;
  left: 25px;
}
